/* цвет основного текста #212121 */
/* цвет вторичного цвет #757575 */
/* белый цвет #FFFFFF */
/* цвет бекграунда #E5E5E5 */
/* цвет контактов в шапке #757575 */
/* цвет акцента #2196F3 */
/* цвет текста контактов в подвале rgba(255, 255, 255, 0.6) */
/* вторичный цвет бекграунда #F5F4FA */
/* бекграунд героя и подвала #2F303A */
:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

p {
  color: var(--title-text-color);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 1600px;
}

footer {
  font-size: 14px;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}

header {
  width: 1600px;
  height: 80px;
}

header .logo {
  position: absolute;
  left: 215px;
  top: 24px;
}

.logo {
  color: var(--accent-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  width: 145px;
  display: inline-block;
}

.header-logo {
  color: var(--primary-text-color);
  position: absolute;
}

.footer-logo {
  color: var(--primary-white-color);
  position: absolute;
}

.site-nav .link {
  color: var(--primary-text-color);
  left: 453px;
  top: 32px;
  font-weight: 500;
  position: relative;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
}

.site-nav .link-current {
  color: var(--accent-text-color);
  left: 453px;
  top: 32px;
  font-weight: 500;
  position: relative;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.auth-site .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  left: 1078px;
  top: 0px;
  margin-left: 50px;
}

.auth-site .link:hover,
.auth-site .link:focus {
  color: var(--accent-text-color);
}

.main-title {
  width: 270px;
  height: 101px;
  text-align: left;
  margin-top: 94px;
  margin-left: 30px;
}

.hero {
  color: var(--primary-white-color);
  background-color: var(--hero-background-color);
  width: 1600px;
  height: 600px;
}

.hero-title {
  position: absolute;
  margin: 200px 467px 280px 437px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section {
  text-align: center;
}

.section > h2 {
  font-size: 36px;
  line-height: 1.16;
}

.section-title {
  color: var(--primary-text-color);
}

.team {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}
.section-team > h2 {
  font-size: 36px;
  line-height: 1.16;
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.section-team p {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.section-team {
  background-color: var(--secondary-background-color);
  text-align: center;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.button {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.button.primary {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  margin: 350px 715px 200px 685px;
  position: absolute;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
}

.section img {
  margin-top: 50px;
  margin-left: 30px;
}

.button.secondary {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

.button.title {
  display: none;
}

.ul-project h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.ul-project p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--hero-background-color);
}

.footer .adress {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}
